{% extends 'wadmin/frame.html' %}
{% block content %}
    <div class="panel">
        <div class="panel-body">
            {{ object.content|safe }}
        </div>
    </div>
    <script>
        var dsaid = 27525;
        var dwidth = 960;
        var dheight = 60;
    </script>
    <script type="text/javascript" src="http://unionjs.dianxin.com/showPic.js" name="showpic"
            charset="utf-8"></script>
    <script type="text/javascript">
        var dianxin_said = 27526;
        var dianxin_width = 960;
        var dianxin_height = 60;
    </script>
    <script type="text/javascript" src="http://unionjs.dianxin.com/dianxin_showcc.js" charset="utf-8"></script>
{% endblock %}