{% extends 'wadmin/frame.html' %}
{% block ext_header %}
    <script src="{{ STATIC_URL }}wadmin/js/change_list.js"></script>
{% endblock %}
{% block content %}
    <form action="" method="post" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul class="pagination">
                {% for page in page_range %}
                    {{ page }}
                {% endfor %}
            </ul>
        </nav>


        {% for object in object_list %}
            <a href="{% url 'wadmin:article' object.id %}">
                <div class="well">
                    作者:{{ object.user.username }}<br>
                    {{ object.title }}

                    <div class="text-right">{{ object.create_time }}</div>
                </div>
            </a>
        {% endfor %}

        {% include 'wadmin/inclute/change_list_delete_confirm.html' %}
    </form>
    <nav>
        <ul class="pagination">
            {% for page in page_range %}
                {{ page }}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}