{% extends 'wadmin/frame_edit.html' %}
{% block fields %}
    {% with field=form.name %}
        {% include 'wadmin/inclute/form_field_text.html' %}
    {% endwith %}
    {% with field=form.subject %}
        {% include 'wadmin/inclute/form_field_select.html' %}
    {% endwith %}
    {% with field=form.template %}
        {% include 'wadmin/inclute/form_field_select.html' %}
    {% endwith %}
{% endblock %}
{% block buttons %}
    <div class="btn-group">

        <button type="submit" name="__action_save" class="btn btn-default"><span
                class="glyphicon glyphicon-floppy-disk"></span>保存
        </button>
        <button type="submit" name="__action_save_new" class="btn btn-default"><span
                class="glyphicon glyphicon-new-window"></span>
            保存并添加下一个
        </button>
        <a class="btn btn-default" href="{% url "wadmin:programme_list" %}{{ view.get_query_string }}">取消</a>
    </div>
{% endblock %}
