{% extends 'wadmin/frame_edit.html' %}
{% block fields %}
    {% with field=form.name %}
        {% include 'wadmin/inclute/form_field_text.html' %}
    {% endwith %}
    {% with field=form.account %}
        {% include 'wadmin/inclute/form_field_select.html' %}
    {% endwith %}

    {% with field=form.start_time %}
        {% include 'wadmin/inclute/form_field_datetime.html' %}
    {% endwith %}
    {% with field=form.end_time %}
        {% include 'wadmin/inclute/form_field_datetime.html' %}
    {% endwith %}
    {% with field=form.is_check %}
        {% include 'wadmin/inclute/form_field_checkbox.html' %}
    {% endwith %}
    {% with field=form.status %}
        {% include 'wadmin/inclute/form_field_select.html' %}
    {% endwith %}
    {% with field=form.background %}
        {% include 'wadmin/inclute/form_field_text.html' %}
    {% endwith %}
    {% with field=form.logo %}
        {% include 'wadmin/inclute/form_field_text.html' %}
    {% endwith %}
{% endblock %}
{% block buttons %}
    <div class="btn-group">

        <button type="submit" name="__action_save" class="btn btn-default"><span
                class="glyphicon glyphicon-floppy-disk"></span>保存
        </button>
        <button type="submit" name="__action_save_new" class="btn btn-default"><span
                class="glyphicon glyphicon-new-window"></span>
            保存并添加下一个
        </button>
        <a class="btn btn-default" href="{% url "wadmin:subject_list" %}{{ view.get_query_string }}">取消</a>
    </div>
{% endblock %}
